<form [formGroup]="form" autocomplete="off">

  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" placeholder="Enter first name" />
  <mat-error>First name is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" placeholder="Enter last name" />
  <mat-error>Last name is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter email" />
  <mat-error> Enter a valid email address. </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" placeholder="Enter phone number" />
  <mat-error>Phone number is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input matInput type="date" formControlName="dateOfBirth" placeholder="Enter date of birth" />
  <mat-error>Date of birth is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>

    <mat-select formControlName="status">
      <mat-option value="Active">Active</mat-option>
      <mat-option value="Inactive">Inactive</mat-option>
    </mat-select>
  <mat-error>Status is required.</mat-error>
  </mat-form-field>

</form>
