<h2 mat-dialog-title>
  {{ office ? 'Edit Login Office' : 'New Login Office' }}
</h2>

<mat-dialog-content>

  <form [formGroup]="form" autocomplete="off">

    <mat-form-field appearance="outline">

      <mat-label>Office Name</mat-label>

      <input matInput formControlName="name" cdkFocusInitial>

      @if (form.controls.name.hasError('required') && form.controls.name.touched) {
      <mat-error>
        Office name is required.
      </mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>Office Code</mat-label>

      <input matInput formControlName="code">

      @if (form.controls.code.hasError('required') && form.controls.code.touched) {
      <mat-error>
        Office code is required.
      </mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>City</mat-label>

      <input matInput formControlName="city">

      @if (form.controls.city.hasError('required') && form.controls.city.touched) {
      <mat-error>
        City is required.
      </mat-error>
      }

    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>Status</mat-label>

      <mat-select formControlName="status">

        <mat-option value="Active">
          Active
        </mat-option>

        <mat-option value="Inactive">
          Inactive
        </mat-option>

      </mat-select>

    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button type="button" (click)="cancel()">
    Cancel
  </button>

  <button mat-flat-button color="primary" type="button" (click)="save()" [disabled]="form.invalid">
    Save
  </button>

</mat-dialog-actions>
