:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shell-container {
  flex: 1;
}

mat-sidenav {
  width: 240px;
}

.page-content {
  padding: 24px;
}

.active-link {
  font-weight: 700;
}
